* {
    font-family: Verdana, Tahoma, sans-serif;
}

body {
    background-color: rgb(184, 102, 102);
}

.tip-top {
    background-color: rgb(121, 100, 136);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-left: .9%;
    min-height: 100px;
}


.top-box {
    padding-left: 15px;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}

.top-box:visited {
    color: rgb(224, 146, 146);
}


a.top-box:hover {
    color: hotpink;
    text-decoration: underline;
}

.my-name{
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 40px;
    margin-left: 10px;
}

.pic {
    width: 200px;
}


.nav-bar {
    display: flex;
    align-self: flex-end;
    margin-right: 50px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: honeydew;
    margin-left: 33%;
    min-width: 67%;
    
    
}


h2 {
    font-size: 25px;
}

.subhead {
    margin-left: 15px;
    margin-bottom: 100px
}

p {
    margin-right: 50px;
  
}
p, .screenshot {
    margin-left: 150px;
}

.boo {
    margin-bottom: 50px;
    padding-left: 30%;
}

.box {
    margin-top: 20%;
}

div#footy {
    display: flex;
    margin-top: 10px;
    margin-bottom: 50px;
    justify-content: space-around;
 }

 .contact:visited {
     color: rgb(52, 37, 250);
 }

 .contact:hover {
     color:hotpink;
 }

 .screenshot {
     width: 400px;
 }

 
 /* 414px iphone 8*/

 @media screen and (max-width: 414px) {
    .my-name {
        font-size: 15px;
    }
}

@media screen and (max-width: 414px) {
    .pic {
        width: 70px;
    }
}

 @media screen and (max-width: 414px) {
    .top-box { 
        
        font-size: 10px;
    } 
 }

 @media screen and (max-width: 414px) {
     .content {
         margin-left: 0;
     }
 }

 @media screen and (max-width: 414px) {
     .screenshot {
         width: 200px;
     }
 }

 @media screen and (max-width: 414px){
     #footy {
         font-size: 8px;
         padding-top: 50px;
     }
 }

 @media screen and (max-width: 414px) {
     * {
         padding: 0px;
     }
 }

 @media screen and (max-width: 414px) {
     .subhead {
         font-size: 15px;
        margin-bottom: 50px;
     }
 }
 
 @media screen and (max-width: 414px) {
     p, .screenshot {
         margin-left: 50px;
         
     }
 }
 @media screen and (max-width: 414px) {
     p {
         font-size: 15px;
         margin-right: 2px;
     }
 }

/* 375px iphone X */

@media screen and (max-width: 375px) {
    .my-name {
        font-size: 20px;
    }
}
 @media screen and (max-width: 375px) {
    .top-box { 
        
        font-size: 20px;
    } 
 }
@media screen and (max-width: 375px) {
    .pic {
        width: 90px;
        margin-right: 35px;
    }
}
 @media screen and (max-width: 375px) {
     .screenshot {
         width: 200px;
         margin-right: 49px;
     }
 }
 
 @media screen and (max-width: 375px){
    .nav-bar {
        justify-content: space-between;
        flex-wrap: wrap;
        margin-right: 0%;
    }
 }

 @media screen and (max-width: 375px){
     #footy {
         font-size: 11px;
         padding-top: 30px;
     }
 }

 @media screen and (max-width: 375px) {
     * {
         padding: 0px;
     }
 }

 @media screen and (max-width: 375px) {
     .subhead {
         font-size: 20px;
        margin-bottom: 80px;
     }
 }
 
 @media screen and (max-width: 375px) {
     p, .screenshot {
         margin-left: 80px;
         
     }
 }
 @media screen and (max-width: 375px) {
     p {
         font-size: 9px;
         margin-right: 5px;
     }
 }
 
